.mainheading{
    text-align: center;
    color: white;
}

p {
    font-size: 25px;
    
}

body{
    background-image: url(https://wallpapercave.com/wp/TtjLdl8.jpg);
    background-size: cover;
    color: white;
    text-align: center;
}


.button{
    background-color: white; 
    border-radius: 10px;
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    
}

