#section1{
    background-color: white;
    
   
}

#section2{
    background-color: white;
    
    
}

#section3{
    background-color: white;
  
}

#section4{
    background-color:white;
    
    
}

#section5{
    background-color:white;
    
    
}

.section{
    text-align: center;
    color: black;
    font-family: serif;
    
}
p{
    font-size: 20px;
}