#section1{
    background-image: url(https://media.istockphoto.com/photos/clouds-on-sky-picture-id184103864?k=6&m=184103864&s=612x612&w=0&h=LtR6Dya6YbmeGMVa-sYp4gvQsZJLcIiDZlbjPN4ToTk=);
    background-size: cover;
    background-position: center;


}

#section2{
    background-image: url(https://images-na.ssl-images-amazon.com/images/I/31JfJ6dXD9L.png);
    background-size: cover;
    background-position: center;
    color:white;
    
    
}

#section3{
    background-image: url(https://c.slashgear.com/wp-content/uploads/2017/03/Spotify-new-logo-Monthly-Playlist-Indie-Underground-Aaron-McMillan-980x420.jpg);
    background-size: cover; 
    background-position: center;
    color:white;
}

#section4{
    background-image: url(https://smallbiztrends.com/wp-content/uploads/2016/05/shutterstock_311472353-850x476.jpg);
    background-size: cover;
    background-position: center;
    
}

#section5{
    background-image: url(https://www.icloud.com/icloud_logo/icloud_logo.png);
    background-size: 1250px;
    background-position: center;
    
    
}

.section{
    text-align: center;
    color: black;
    font-family: serif;
    
}
p{
    font-size: 20px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
}
