#section1{
    background-image: url(http://s2.thingpic.com/images/Fj/j7EzjzxFMyRm3MEjLQ6tA9A3.jpeg);
    background-position: center;
    background-size:cover ;
   
}

#section2{
    background-image: url(http://www.peprik.com/gallery/family-sponsorship-for-canada-immigration-things-to-know-picture/Family-sponsorship-for-Canada-immigration-things-to-know.jpg);
    background-position: center;
    background-size: cover
    
}

#section3{
    background-image: url(https://www.worldtravelguide.net/wp-content/uploads/2017/04/Think-Greece-Country-Santorini-Oia-468940432-marchello74-copy.jpg);
    background-position: center;
    background-size: 800px 500px;
}

#section4{
    background-image: url(https://www.rd.com/wp-content/uploads/2017/07/The-Eiffel-Towers-Electric-Bill-Is-Absurd_166143854_Brian-Kinney-1024x683.jpg);
    background-position: left center ; 
    background-size: 800px 500px;
    
}

#section5{
    background-image: url(https://www.privateinternetaccess.com/blog/wp-content/uploads/2016/12/sydney-australia-day-1024x649.jpg);
    background-position: center;
    background-size: 900px 500px
    
}

.section{
    text-align: center;
    text-shadow: 2px 2px MidnightBlue;
    color: white;
    font-size: 35px
}