body {
    text-align: center;
    font-family: Georgia;       
    font-size: 20px;
    color:black;
    background-image: url();
} 
            
h1{
    font-size:40px;
}

    


button {
    background-color: rgb(0, 171, 255); 
    border-radius: 10px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}

.button{
    background-color: rgb(0, 171, 255); 
    border-radius: 10px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}

h2 {
    background-color: rgb(0, 171, 255);
    color: white;
}
